/* @font-face {
  font-family: 'NewTegomin';
  src: url("./NewTegomin-Regular.woff2") format("woff2"), url("./NewTegomin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

/* @import url('https://fonts.googleapis.com/css2?family=New+Tegomin:wght@200;400&display=swap'); */