/* @font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/MyFont.woff) format('woff');

} */

@font-face {
  font-family: 'NewTegomin';
  src: local('NewTegomin'), url("./assets/fonts/NewTegomin-Regular.woff2") format("woff2"), url("./assets/fonts/NewTegomin-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}